@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-default: #F2F2F2;
  --color-hover: #F2F2F2;
}

body {
  visibility: hidden;
  user-select: none;
  white-space: nowrap;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

p {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 40;
}

#eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-in-out;
  font-size: 22pt;
}

#eyeSvg {
  animation: rotateGradient 2s linear infinite;
}

@keyframes rotateGradient {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.eye-fill {
  transition: fill 0.3s ease;
}

.eye-hover .eye-fill {
  fill: #FFFFFF;
}

.circle-hover {
  fill: url(#spinningGradient);
}

#options-wrapper {
  position: absolute;
  top: calc(48.4%);
  left: calc(50% + 18pt);
}

.option-container {
  color: var(--color-default);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Montserrat";
  background: linear-gradient(
    to right,
    rgba(23, 23, 23, 0.9) 0%,
    rgba(23, 23, 23, 0.9) 100%
  );
  font-size: 13px;
  vertical-align: middle;
  border: 1px solid #C1C1C1;
  border-radius: 4px;
  margin-bottom: 2px;
  padding: 2.5px;
  transition: 300ms;
  transform-origin: left top;
  scale: 1;
  height: 22pt;
  top: 0;
  width: 100%;
  word-wrap: break-word;
}

.option-container:hover {
  background: linear-gradient(
    to right,
    rgba(36, 36, 36, 0.9) 0%,
    rgba(23, 23, 23, 0.9) 100%
  );
  transform-origin: left top;
  color: var(--color-hover);
  margin-left: 4px;
}

.option-icon {
  font-size: 16px;
  margin-right: 10px;
  margin-left: 5px;
  color: var(--color-default);
  transition: transform 0.3s ease;
}

.option-container:hover .option-icon {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.option-label {
  font-weight: 400;
  margin-right: 10px;
}

.shadow-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  background: rgba(23, 23, 23, 0.4);
  border-radius: 50%;
  z-index: -1;
  filter: blur(2px);
}